<%- include('header') %>

<legend>Delete a code</legend>

<% if (!locals.success || !success){ %>
Are you sure you want to delete this code?

<form method="post" action="" style="text-align: center;">
	<button class="btn btn-primary">Yes</button> - <a href="/admin/codes">Back</a>
</form>

<% } else { %>
<center style="color: green; font-weight: bold;">The code has been successfully deleted.</center><br />
<a href="/admin/codes">Back</a>
<% } %>

<%- include('footer') %>